Package: nfsd-ldap
Version: 1.0
Architecture: amd64
Maintainer: Marc A. Pelletier <marc@wikimedia.org>
Installed-Size: 45
Pre-Depends: nfs-kernel-server
Depends: libc6 (>> 2.19), libc6 (<< 2.20)
Section: net
Priority: extra
Description: Shim to invoke nfsd with LDAP enabled
 This provides a diverting shim to invoke the system nfsd with LDAP
 enabled regardless of /etc/nsswitch.conf, and disable nscd usage
 for it (to avoid the possibility of conflicting settings).
